:root {
  /* Defaults */
  --font-main: 'PT Sans', sans-serif;

  /* Snekky Colours! */
  --purple: #5b57a6;
  --green: #00b25a;
  --orange: #f3703a;
  --yellow: #ffc519;
  --red: #e11d43;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-main);
}
h1 {
  color: var(--green);
  font-size: 2rem;
}
.container {
  max-width: 40em;
  margin: 0 auto;
}

/* Root Level Container */
.wrapper {
  width: 100vw;
  padding: 1em;
}

.farm {
  padding: 0.15em 0 0.15em 0;
  border-radius: 0.75em;
  background-color: var(--purple);
}

.farm-section {
  margin: 0.75em;
  padding: 0.75em;
  border-radius: 0.75em;
  background-color: white;
}

.farm-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-large {
  padding: 2em;
  border: 2px solid var(--purple);
  border-radius: 0.75em;
  background-color: var(--green);
  user-select: none;
}
.btn-large:active {
  background-color: var(--purple);
}
.btn-large:focus {outline:none;}
.btn-large::-moz-focus-inner {border:0;}

.micropythons {
  display: flex;
  flex-wrap: wrap;
}
.micropythons .snek {
  margin-right: 0.5em;
}

/* THE SNEKKY & CURLY BOIS */
.snek {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  transition: 0.5s all ease-in-out;
}
.snek--micropython {
  /* He smol */
  font-size: 1rem;
}
.snek--curlyboi {
  /* He large */
  font-size: 5rem;
}

/* Snektions */
.snektion {
  display: inline-block;
  width: 1.8em;
  /* in proportion to SVG viewbox, which is 180 */
  margin-left: -1.2em;
  transition: 0.5s margin-left ease-in-out;
}
.snektion--start, .snektion--end {
  width: 2.4em;
  /* in proportion to SVG viewbox, which is 240 */
}
.up-false .snektion {
  margin-left: -0.4em;
}
.snektion:first-of-type {
  margin-left: 0;
}
.snektion:nth-of-type(2) {
  /* The snektion next to the start snektion */
  /* has further to go */
  margin-left: -1.4em;
}
.up-false .snektion:nth-of-type(2) {
  margin-left: -1em;
}

/* Animation of snake body */
.snake-body {
  transition: 0.5s all ease-in;
}
.up-false .snektion--u .snake-body, .up-false .snektion--start .snake-body {
  /* When going from flat to curly, the n snektions have further to go */
  /* than the u snektions*/
  transition: 0.5s all ease-out;
}
.up-true .snektion--n .snake-body {
  transition: 0.5s all ease-out;
}

/* Rainbow snektions */
.snektion .snake-body {
  stroke: var(--purple);
}
.snektion:nth-of-type(5n+1) .snake-body {
  stroke: var(--green);
}
.snektion:nth-of-type(5n+2) .snake-body {
  stroke: var(--yellow);
}
.snektion:nth-of-type(5n+3) .snake-body {
  stroke: var(--orange);
}
.snektion:nth-of-type(5n+4) .snake-body {
  stroke: var(--red);
}

/* Animated snektions */
.snek--animated .snektion .snake-body {
  animation: one-animated 5s step-end infinite;
}
.snek--animated .snektion:nth-of-type(5n+1) .snake-body {
  animation-delay: -4s;
}
.snek--animated .snektion:nth-of-type(5n+2) .snake-body {
  animation-delay: -3s;
}
.snek--animated .snektion:nth-of-type(5n+3) .snake-body {
  animation-delay: -2s;
}
.snek--animated .snektion:nth-of-type(5n+4) .snake-body {
  animation-delay: -1s;
}
@keyframes one-animated {
  0% { stroke: var(--green); }
  20% { stroke: var(--yellow); }
  40% { stroke: var(--orange); }
  60% { stroke: var(--red); }
  80% { stroke: var(--purple); }
  100% { stroke: var(--green); }
}
