<!doctype html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/snek.css' %}">
</head>
<body>
  <div class="snek">
    <div class="snektion snektion--start snektion--green">
      {% include "snek-start.svg" %}
    </div>
    <div class="snektion snektion--n snektion--orange">
      {% include "snek-n.svg" %}
    </div>
    <div class="snektion snektion--u snektion--yellow">
      {% include "snek-u.svg" %}
    </div>
    <div class="snektion snektion--n  snektion--purple">
      {% include "snek-n.svg" %}
    </div>
    <div class="snektion snektion--u  snektion--red">
      {% include "snek-u.svg" %}
    </div>
    <div class="snektion snektion--n  snektion--orange">
      {% include "snek-n.svg" %}
    </div>
    <div class="snektion snektion--end snektion--green">
      {% include "snek-end.svg" %}
    </div>
  </div>
</body>
</html>
